<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <article>
        <section style="height: 400px; width: 250px; border:2px solid red; padding: 10px;">
            <img src="<%=p.img%>" alt="" height="200" width="240">
            <h5>Name: <%=p.name %>
            </h5>
            <h5>Description: <%=p.desc %>
            </h5>
            <h5>Price: <%=p.price %>
            </h5>
            <h5>Quantity: <%=p.qty %>
            </h5>
            <h5>Rating: <%=p.rating %>
            </h5>
        </section>
    </article>
</body>
</html>